
@{
    ViewBag.Title = "Congratulation!!! Confirmation";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<h2>CheckOutConfirmed</h2>

<p>You successfully ordered</p>
@Html.ActionLink("Back to HomePage", "Index");

